{% extends "base.html" %}
{% block content %}
{% load static %}

    <style>
        .popup {
            display: none;
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 10;
        }
        .popup-content {
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }
    </style>

    <div class="banner-crop"><img class="banner" src="{% static 'banner-bike.jpg' %}" alt="baner"></div>
        <div class="side">{% include 'filters/filter.html' %}
            <a href="{% url 'motorcycles' %}"> <button type="button" class="catalog" value="Motorcycle"><img src='{% static "bike-button.jpg" %}' alt="bike"><p>View Motorcycle Catalog -></p></button></a>
        </div>
    <div class="mobile-filter">
        <a href="{% url 'motorcycles' %}"> <button type="button" class="catalog" value="Motorcycle"> Motorcycles</button></a>
        <button type="button" id="openPopup" class="filter-button-mobile" value="Filters">Filters</button>

    <div id="popup" class="popup">
        <div class="popup-content">
            <form method="get" id="myPopup">
                <label for="year">Filter By Year</label>
                <label for="year_max" class="filter_label">
                <input type="radio" id="year_max" name="year_max" value="Max">  Sort Older to Newer</label>
                <label for="year_min" class="filter_label">
                <input type="radio" id="year_min" name="year_min" value="Min">  Sort Newer to Older</label>

                <label for="price">Filter by Price</label>
                <label for="price_max" class="filter_label">
                <input type="radio" id="price_max" name="price_max" placeholder="price">  Sort Low to High</label>
                <label for="price_min" class="filter_label">
                <input type="radio" id="price_min" name="price_min" placeholder="price">  Sort High to Low</label>

                <label for="price_min" style="font-size: 15px">Custom</label>
                <label for="price_min_value" class="filter_label">Min Price:
                <input type="text" id="price_min_value" name="price_min_val" ></label>
                <label for="price_max_value" class="filter_label">Max Price:
                <input type="text" id="price_max_value" name="price_max_val" ></label>

                <input type="submit"  id="closePopup" class="apply" name="submit" value="Apply">
            </form>
        </div>
    </div>

        <script>
            const openPopup = document.getElementById('openPopup');
            const closePopup = document.getElementById('closePopup');
            const popup = document.getElementById('popup');

            openPopup.addEventListener('click', () => {
                popup.style.display = 'flex';
            });

            closePopup.addEventListener('click', () => {
                popup.style.display = 'none';
            });

            window.addEventListener('click', (event) => {
                if (event.target === popup) {
                    popup.style.display = 'none';
                }
            });
        </script>
    </div>

    </div>
   <main>
        <section>
            {% for bike in bike_list %}
                <div class="card_index">
                    <h3>{{ bike.brand }} {{ bike.model }}</h3>
                    <h6>
                        {{ bike.year }}
                    </h6>
                    <p class="description">{{ bike.description|truncatechars:100 }}</p>
                    <div class="image-div">
                        <img src="{{MEDIA_URL}}{{ bike.image }}" alt="bike">
                    </div>
                    <div class="info-card">
                        <p style="opacity: 60%">Date Added: {{ bike.date_added|date:"M d, Y" }}</p>
                        <p class="price">${{ bike.price }}</p>
                        <a href="{% url 'bike_info' bike.pk %}"><button type="button">Discover</button></a>
                    </div>
                </div>
            {% endfor %}

            <div class="pages">
                {% include 'navbar/pages.html' %}
            </div>
        </section>
   </main>

{% endblock %}
