{% extends "base.html" %}
{% block content %}
{% load static %}
    <img class="baner" src="{% static 'baner_audi.jpg' %}" alt="baner">
    <main>
        <section>
            <h1>About Audi</h1>
            <p class="about">Audi AG is a German automotive manufacturer of luxury vehicles headquartered in Ingolstadt,
                Bavaria, Germany. A subsidiary of the Volkswagen Group, Audi produces vehicles in
                nine production facilities worldwide.</p>
        </section>
    </main>
{% endblock%}
